.about {
  padding: 5rem 2rem;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;   
  align-items: center;
  text-align: center;
}

.about-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);   
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.about-images img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.about-img-1 {
  border: 3px solid var(--secondary-color);
}

.about-img-2 {
  height: 250px; 
}

.about-img-3 {
  border: 3px solid var(--primary-color);
}


.about-content h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.about-content p {
  max-width: 600px;
  margin: 0 auto 2rem auto;
  color: var(--text-light);
  line-height: 1.8;
}

.learn-more-btn {
  background: transparent;
  color: var(--primary-color);
  padding: 0.8rem 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.learn-more-btn:hover {
  background: var(--primary-color);
  color: white;
}
