.section {
  padding: 5rem 0rem 0rem ;
  background: white;
}

.section-container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  gap: 2rem;
}

.header-content {
  flex: 1;
}

.header-content h2 {
  font-size: 2.3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.header-content p {
  color: var(--text-light);
  line-height: 1.8;
  font-size: 1rem;
}

.main {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.secondary{
  flex-direction: column;
  
}
.circle-img {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.circle-img.large {
  width: 300px;
  height: 300px;
  border-color: var(--primary-color);
}

.circle-img.medium {
  width: 200px;
  height: 200px;
  margin-top: -30px;
}

.circle-img.small {
  width: 120px;
  height: 120px;
  margin-top: 30px;
}
